# **DSC 270 Final Project**

##### **Problem 1**

In [1]:
import seaborn as sn
df = sn.load_dataset("mpg")
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

#### **Problem 2**

In [2]:
cars = {}
for name in df['name']:
    if name in cars:
        cars[name] += 1
    else:
        cars[name] = 1

In [3]:
cars['datsun 200sx'] = 21

In [4]:
print("datsun 200sx:", cars['datsun 200sx'])
print("chevrolet impala:", cars['chevrolet impala']) 
print("plymouth fury iii:", cars['plymouth fury iii'])
print("ford maverick:", cars['ford maverick'])
print("ford f250:", cars['ford f250'])
print("amc gremlin:", cars['amc gremlin'])

datsun 200sx: 21
chevrolet impala: 4
plymouth fury iii: 3
ford maverick: 5
ford f250: 1
amc gremlin: 4

#### **Problem 3**

In [5]:
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
def main():
    with open("SomeData.html", 'r') as fp:
        soup = BeautifulSoup(fp, 'html.parser')
        root = soup.html
        
    tables = root.find_all('table') 
    table = tables[1]
    
    header_rows = table.find('tr')
    header_elements = header_rows.find_all('th')

    # Create an empty list to store the headers
    headers = []
    
    for th in header_elements: 
        header_text = th.text
        headers.append(header_text)

    data = []
    for tr in table.find_all('tr')[1:]: 
        row = []
        for td in tr.find_all('td'):
            cell_text = td.text
            row.append(cell_text) # Append the cell text to the list
        data.append(row) # Append the row data to the main data list

    df = pd.DataFrame(data, columns=headers)
    print(df.to_string())
    
if __name__ == "__main__":
    main()

                                               Game    Year                   Developer             Engine
0                                Eye of the Beholder   1990            Westwood Studios               EotB
1     Eye of the Beholder II: The Legend of Darkmoon   1991            Westwood Studios               EotB
2   Eye of the Beholder III: Assault on Myth Drannor   1993                         SSI               EotB
3                                       Dungeon Hack   1993    DreamForge Intertainment              Aesop
4                                     Menzoberranzan   1994    DreamForge Intertainment          Ravenloft
5                                  Pools of Darkness   1989                         SSI           Gold Box
6                           Curse of the Azure Bonds   1989                         SSI           Gold Box
7                                      Baldur's Gate   1998                     BioWare    Infinity Engine
8                                       Icewind Dale   2000          Black Isle Studios    Infinity Engine
9                                   Pool of Radiance   1988                         SSI           Gold Box